.approveContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}

.approveContainer .card {
  width: 270px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  img {
    width: 238px;
    height: 148px;

    margin-bottom: 12px;

    object-fit: cover;

    border-radius: 8px;
    border: 1px solid #000;
  }
}

.approveContainer .information {
  display: flex;
  flex-direction: column;

  margin-bottom: 26px;
  padding: 3px;

  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  .name {
    margin-bottom: 12px;
  }
}

.approveContainer .buttonGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.approveContainer .card button {
  width: 89px;
  height: 40px;
  border-radius: 8px;

  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.approveContainer .accept {
  background: #bbdada;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  &:hover {
    background-color: #95acac;
  }
}

.approveContainer .decline {
  background: #ffc0cb;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  &:hover {
    background-color: #c7979f;
  }
}

.defaultImg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
  p {
    color: #555555;
    font-size: 24px;
    font-weight: bold;
  }
}
