.mangementChannelContainer{
  display: flex;
  flex-direction: column;
  margin-right: 220px;
}

.contentHeader{
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}
.controlSection{
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 24px;
}

.projectDetailForm,
.activeSection,
.deleteSection,
.activeGroup  {
  margin-left: 0.5rem;
  margin-top: 36px;
}

.projectDetailForm{
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.category{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;

  .categoryRadio{
    display:flex;
     gap: 36px;

     .study,.project{
      display: flex;
      align-items: center;
      gap: 8px;
     }

  input{
    width: 16px;
    height: 16px;
  }
    label{  
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 400;  
    }
  }  
}
.deadline {
  display: flex;
  justify-content: space-between;
  gap: 8px;  
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0; 
  
  .calendarBox{
    display: flex;
    align-items: center;


    .calendarBtn{
      cursor: pointer;
      z-index: 999;
      font-size: 16px;
      width: 120px;
      height: 28px;
      background-color: rgba(185, 148, 112, 0.2);
      border-radius: 4px;
      border: 1px solid #b99470;
      color: #b99470;
      transition: 0.3s;

      &:hover{
        background-color: rgba(185, 148, 112, 0.4);
      }
  
    }
        
    .disableBtn{
      pointer-events: none;     
      opacity: 0.5;            
      font-size: 16px;
      background-color: #ccc;   
      border-radius: 4px;
      border: 1px solid #666;
      color: #666;                
      width: 120px;
      height: 28px;
      cursor: not-allowed;  
    }
  }
}

.sectionHeader{
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: flex-start;
}

.categoryWrap{
  display:flex;
  align-items: center;
  gap:100px;
}


.time{
  display:flex;
  justify-content: space-between;
  gap: 24px;
    padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;

    input {
    width: 257.6px;
    height: 39.253px;

    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

    padding-left: 1rem;
  }

  input::placeholder{
    color: rgba(85, 85, 85, 0.50);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.contributors{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.countButton{
  display: flex;
  align-items: center;
  gap: 48px;
  background-color: #fff;
  border-radius: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  div{
    color: #222;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }

  button {
    width: 36px;
    height: 36px;
    background:#999;
    font-size: 24px;
    color:#fff;
  }

  .upButton{
    background-color: #999;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    transition: 0.3s;

    &:hover{
    background-color: #888;
    }

    &:active{
    background-color: #777;
    }
  }

  .downButton{
     background-color:#999;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    transition:0.3s;

    &:hover{
     background-color:#888;
    }

    &:active{
    background-color: #777;
    }
  }

}


.location{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid #e0e0e0;
}

.chooseLocation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.locationRadio{
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 26px;


  .online{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .offline{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  div{
    display: flex;
    justify-content: flex-end;
    gap: 36px;
  }

  input{
    width: 16px;
    height: 16px;
  }

  label{
    color: #222;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}

.locationWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.locationButton{
  width: 300px;
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

  text-align: start;
  padding-left: 1rem;
}


.locationButton .address{
  color:#222;
  font-family: Pretendard;
  font-weight: 600;
  text-align: left;
  padding-right: 24px;

}

.location p {
  color: rgba(85, 85, 85, 0.50);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.postWrapper{
  width: 100%;
  max-width: 555px;
}

.saveButton{
  width: 102.322px;
  height: 42.5px;
  margin-bottom: 24px;

  align-self:flex-end;
  color: #222;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 8px;
  background: #BBDADA;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover{
   background-color: #a5cfcf;
  }

  &:active{
    background-color: #89B8B8;
  }
}

.hr{
  margin-top: 80px;
  width: 100%;
  border : 1px solid rgba(231, 231, 231, 0.973);
}


.activeGroup{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.isActive{
  display: flex;
  flex-direction: row;
  gap: 36px;

  div{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  input{
    width: 16px;
    height: 16px;
  }

  label{
    color: #222;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}


.deleteSection{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sectionHeader{
    display: inline-block;
    line-height: 1;
    transform: translateY(20px);
  }

  .deleteButton{
  width: 140px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #Ff6666;
  background: #FFF;

  color: #Ff6666;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;

  &:hover{
    background-color:#E05555;
    color:#fff;
  }

  &:active{
    background-color: #C94A4A;
    color:#fff;
  }
  }

}

@media screen and (max-width: 1780px) {
  .mangementChannelContainer{
    width: 100%;
  }

}

@media screen and (max-width: 1180px) {
  /* 다음포스트 크기 줄이기 */
  .mangementChannelContainer{
    width: 100%;
  }

  .postWrapper{
    max-width: 400px;
  }
}

@media screen and (max-width: 1065px) {
  section{
    flex-direction: column;
  }

  .chooseLocation{
    flex-direction: column;

    h2{
      padding-bottom: 24px;
    }
  }

  .locationRadio{
    flex-direction: row;
    align-items: center;
  }

  .contributors {
    align-items: start;
  }

  .countButton{
    justify-content: left;
  }

  .locationWrapper{
    align-items: start;
    margin-bottom: 1rem;
  }

  .locationButton{
    margin-bottom: 1rem;
  }

  .activeGroup{
    align-items: start;
    .sectionHeader{
      margin-bottom: 2rem;
    }
  }

  .deleteSection {
    align-items: start;
    .sectionHeader{
      margin-bottom: 2.5rem;
    }
  }
}



/* 사이드바 사라질때 */
@media screen and (max-width: 768px) {
  .locationButton{
    margin-bottom: 1rem;
  }

  .postWrapper{
    max-width: 555px;
  }
}
