.mangementChannelContainer{
  display: flex;
  flex-direction: column;
}

.contentHeader{
  margin-bottom: 51px;

  color: #000;
  font-family: Pretendard;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

form{
  section{
    margin-bottom: 58px;
  }

  h2{
    margin-bottom: 26px;

    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }
}

.category{
  display: flex;
  flex-direction: row;
  gap: 70px;

  div{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  input{
    width: 24px;
    height: 24px;
  }

  label{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}

.dateContributors{
  display: flex;
  flex-direction: row;
  gap: 162px;

  input {
    width: 257.6px;
    height: 39.253px;

    border: none;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

    padding-left: 1rem;
  }

  input::placeholder{
    color: rgba(85, 85, 85, 0.50);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  
}

.countButton{
  display: flex;
  flex-direction: row;
  gap: 80px;

  p{
    color: #000;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }

  button {
    width: 42px;
    height: 42px;
    background: rgba(153, 153, 153, 0.5);
    font-size: 24px;
  }

  .upButton{
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
  }
  .downButton{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
  }

}



.locationRadio{
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-bottom: 26px;

  div{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  input{
    width: 24px;
    height: 24px;
  }

  label{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}

.locationButton{
  width: 555px;
  height: 40px;

  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;

  text-align: start;
  padding-left: 1rem;
}

.locationButton .address{
  color: black;
  font-family: Pretendard;
  font-weight: 600;

}

.location p {
  color: rgba(85, 85, 85, 0.50);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.saveButton{
  width: 102.322px;
  height: 42.5px;
  margin-bottom: 83px;

  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 8px;
  background: #BBDADA;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.isActive{
  display: flex;
  flex-direction: row;
  gap: 70px;

  div{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  input{
    width: 24px;
    height: 24px;
  }

  label{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
  }
}

.deleteButton{
  width: 164px;
  height: 47px;

  border-radius: 10px;
  border: 1px solid #F00;
  background: #FFF;

  color: #F00;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}