
.container{
  width: 100%;
  padding: 63px 124px;

  display: flex;
  flex-direction: row;
  gap:113px;
}

.managementSidebarInner{
  position: relative;
  min-width: 84px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  color: #222;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
}

.content{
  width: 100%;
}

.active{
  color: #b99470;

  &:hover{
  color: #b99470;
  }
}

@media screen and (max-width: 1780px) {

  .container{
    display: flex;
    flex-direction: column;
    
  }

  .managementSidebarInner{
    position: relative;
    /* min-width: 84px; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 3rem;
  }
}

@media screen and (max-width: 1034px) {
  .managementSidebarInner{
    gap: 2rem;
  }
}

@media screen and (max-width: 1034px) {
  .container{
    padding: 63px 80px;
  }
}

@media screen and (max-width: 945px) {
  /* 양옆 여백 줄이기 */
  .container{
    padding: 63px 80px;
    
  }
}

@media screen and (max-width: 913px) {
  .managementSidebarInner{
    gap: 1rem;
  }
}
/* 사이드바 사라질때 */
@media screen and (max-width: 768px) {
  .container{
    padding: 63px 124px;
  }
}
