*{
  outline: 1px solid red;
}

.swiper {
  width: 100%;
}

.swiper-container{
  width: 100%;
  overflow: visible;
}

.swiper.peerReview{
  padding: 0 6rem;
  box-sizing: border-box;
}

.swiper.peerReview>.swiper-wrapper{
  left: -15.2rem;
}

.swiper.team>.swiper-wrapper{
  left: -9.6rem;
}


.swiper-slide.peerReview {
  position: relative;
  width: 10.8rem !important;
  height: 10.6rem !important;
  transition: 1s;
  gap:1.4rem !important;
  user-select: none;
}

.swiper-slide-active.peerReview {
  width: 21.8rem !important;
  height: 10.6rem !important;
  transition: 1s ease-in-out;
}

.swiper-slide.team {
  position: relative;
  width: 19.4rem;
  height: 14.6rem;
}