.sectionName{
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 1.7rem;
}

.teamContainer{
  position: relative;
  width: 100%;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
}

.prevButton { 
  position: relative;
  left:-4.4rem;
}

.nextButton {
  position: relative;
  right:-4.4rem;
}

.prevButton>img,
.nextButton>img{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.prevButton:active,
.nextButton:active{
  img{
    transform: scale(.7);
  }
}


.teamCard{
  width: 19.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #D4D4D4;
  background: #FFF;

  cursor: pointer;

  
}

.teamImg{
  width: 17.7rem;
  height: 10.4rem;
  
  margin: 10px;
  border-radius: 8px;
  
}

.teamTitle{
  display: block;
  width: 70%;
  margin-bottom: 1rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  
}

.nothing{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.7s ease-in-out;
  margin-bottom: 4rem;
  
  img{
    width: 8rem;
    margin-bottom: 1rem;
  }
  p{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.6;
    
    padding: 0.5rem 1.5rem;
    border: 2px solid #A6B37D; 
    border-radius: 32px;
    
    box-shadow: 0 4px 12px rgba(166, 179, 125, 0.4); 
    color: #A6B37D; 
    background-color: #F0F8E0; 

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1067px) {
  
  .prevButton{
    top: 85px;
    position: absolute;
  }

  .nextButton{
    top: 85px;
    position: absolute;
  }
}
