.sectionName{
  position: inherit;
  padding-left: 1rem;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 1.7rem;
}

.scrapContainer{
  width: 100%;
  padding: 2.3rem 3.8rem;
  background-color: #fff;
  margin-bottom: 8.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px solid #D4D4D4;
  background: #FFF;
}

.scrapList{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.scrap a{
  min-height: 45px;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #868686;
  gap: 3rem;

  &:last-child{
    margin-bottom: 1rem;
  }

  .scrapTitle{
    display: block;
    width: 35%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: #000;
    font-family: "Pretendard Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .scrapContent{
    display: block;
    width: 65%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: rgba(85, 85, 85, 0.60);
    font-family: "Pretendard Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}


.nothing{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.7s ease-in-out;
  
  img{
    width: 8rem;
    margin-bottom: 1rem;
  }
  p{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.6;
    
    padding: 0.5rem 1.5rem;
    border: 2px solid #A6B37D; 
    border-radius: 32px;
    
    box-shadow: 0 4px 12px rgba(166, 179, 125, 0.4); 
    color: #A6B37D; 
    background-color: #F0F8E0; 

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

