.sectionName{

  padding-left: 1rem;
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 1.7rem;
}

.peerReviewContainer{
  width: 100%;
  margin-bottom: 6.9rem;

  display: flex;
  align-items: center;
  gap: 0;
}

.prevButton>img,
.nextButton>img{
  width: 3rem;
  height: 3rem;
  stroke-width: 1px;
  fill: #D4D4D4;
  stroke-width: 1px;
  stroke: #D4D4D4;
  cursor: pointer;
}

.prevButton {
  position: relative;
  left:-4.4rem;
}

.nextButton {
  position: relative;
  right:-4.4rem;
}

/* .content */
.peerReviewCard{
  width: 100%;
  height: 100%;
  padding : 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #D4D4D4;
  background: #FFF;
  
}

.peerReviewWriterImg{
  width: 3.1rem;
  height: 3.1rem;
  margin-bottom: 4px;

  display: block; 
  object-fit: cover;

  border-radius: 50%;
}

.review_score{
  color: #000;
  font-family: "Pretendard Variable";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.peerReviewContent{
  color: #000;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nothing{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  img{
    width: 5rem;
    margin-bottom: 1rem;
  }
  p{
    text-align: center;
    line-height: 3rem;
  }
}