.swiper {
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}

.swiper-wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.swiper-slide:last-child {
  margin-right: 0 !important;
}




.swiper.peerReview{
    padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

.swiper-slide.peerReview {
  width: 12.8rem;
  height: 10.6rem ;
  user-select: none;
  height: 10.6rem;
  transition: width 1s ease;
}  

.peerReview.peerReviewActive {
  width: 21.8rem ;
  height: 10.6rem ;
}


.swiper.team{
  padding: 0 1rem; /* 필요 시 명시적으로 추가 */
}  

/* .teamCard의 부모 엘리먼트 */
.swiper-slide.team {
  width: 21rem;
  height: 14.6rem;
  flex-shrink: 0;
}  

@media screen and (max-width: 768px) {
  .swiper-slide.peerReview {
    width: 30vw;
  }

  .swiper-slide-active.peerReview {
    width: 40vw;
  }
}