.container {
  width: 60vw;
  min-height: 80%;
  margin: 48px 220px 0;

  h2 {
    font-size: 36px;
    font-weight: 600;
  }
}

.teamList {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.teamWrap {
  background-color: #fff;
  padding: 30px 32px;
  border-radius: 8px;
  gap:10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .teaminfoWrap {
    display: flex;
    gap: 20px;
    > img {
      width: 150px;
      height: 150px;
    }

    .teaminfo {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      p {
        font-size: 16px;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
      }
    }
  }

  .deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
  }

  .moveBtn {
    border-radius: 4px;
    background-color: rgba(166, 179, 125, 0.2);
    width: 120px;
    height: 28px;
    color: #a6b37d;
    border: 1px solid #a6b37d;
    font-weight: bold;
    transition: 0.3s;

    &:hover {
      background-color: rgba(166, 179, 125, 0.4);
    }
  }

  .peerReviewBtn {
    width: 120px;
    height: 28px;
    background-color: rgba(185, 148, 112, 0.2);
    border: 1px solid #b99470;
    border-radius: 4px;
    font-weight: bold;
    color: #b99470;
    transition: 0.3s;

    &:hover {
      background-color: rgba(185, 148, 112, 0.4);
    }
  }
}

.MyTeam {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 300px;
    width: 240px;
    object-fit: contain;
  }

  .message {
    display: flex;
    align-items: center;
    color: #a6b37d;
    background-color: #f0f8e0;
    border: 2px solid #a6b37d;
    padding: 16px 24px;
    border-radius: 32px;
    font-weight: 600;
    line-height: 1.6;
    box-shadow: 0 4px 12px rgba(166, 179, 125, 0.4);
    font-size: 1.25rem;
  }
}



@media screen and (max-width: 1280px) {

  .container{
    width:50vw; 
  }
}

@media screen and (max-width: 980px) {

  .container{
    width:40vw; 
  }

  .teaminfoWrap{
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 0.5rem;
    }

    h3{
      margin-bottom: 1rem;
    }

  }

  .teamWrap{
    flex-direction: column;

    .teaminfo{
      text-align: center;
    }

    .deadline{
      align-items: center;
    }
  }


}



@media screen and (max-width: 768px) {

  .container{
    width:80vw; 
  }

  .teaminfoWrap{
    flex-direction: row;

    p {
      margin-bottom: 0;
    }
  }
  
  .teamWrap{
    flex-direction: row;

    .teaminfo{
      text-align: left;
    }

    .deadline{
      align-items: center;
    }
  }

}
