.container{
  margin-top: 40px;
  height: 345px;
  border-top-left-radius:4px ;
  border-top-right-radius:4px ;
  background-color: #fff;
  overflow: hidden;
}

.comment{
  background-color: #a6b37d;
  height: 72px;
  width: 100%;

  .commetInputBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 14px
  }
  .writer{
    
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 4px;

    p{
      color:#fff;
    }
    

    img{
      width: 36px;
      height: 36px;
    }
  }

  input[type="text"]{
    border-radius: 4px;
    width: 980px;
    height: 32px;
    border: 0;
    outline: none;
    padding-left: 20px;

    &:focus{
      padding-left: 20px;
    }
  }

  .commentBtn{
    width: 80px;
    height: 28px;
    border-radius: 12px;
    padding: 10px 5px;
    background-color: #b99470;
    color:#fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.commentListWrap{
    display: flex;
    padding: 24px 14px 0;


    .commentList{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .writer{
      display: flex;
      align-items: center;
      gap: 8px;
    }
    h6{
      font-size: 20px;
    }
    img{
      width: 36px;
      height: 36px;
    }
    
    .memberComment{
      display: flex;
      flex-direction: column;
      font-size: 16px;
      gap: 4px;
    }
    

    .recommentWrap{
     margin-top: 8px;
      margin-left: 44px;


      .recommentBtn{
      background-color: transparent;
      font-size: 16px;
      font-weight: 500;
      color:blue;
    }
    .recomment{
      margin-top: 4px;
    }
    }
    

}
