.container{
  height: 160px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.cardInner{
  padding: 28px 15px;
  display: flex;

  img{
    border-radius: 0.7rem;
    width: 220px;
    height: 140px;
  }

  .iconList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
  }
  #__react-kakao-maps-sdk___Map > div:nth-child(1) > div > div:nth-child(5) > svg{
    width: 240px !important;
    height: 160px !important;
  }

}

.list{
  display: flex;
  align-items: center;
  gap: 4px;


  .icon > img{
    width: 20px;
    height: 16px;
  }
}