.boardOption {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 28px;
}
.boardOptionDetail {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex: 1;
}

.optionButton {
  ul {
    display: flex;
    gap: 8px;
  }
}

.boardTitle {
  padding-top: 28px;
  input {
    width: 400px;
    border-style: none;
    border-bottom: 0.5px solid #555555;
    box-sizing: border-box;
    font-size: 32px;
  }
  input:focus {
    outline: none !important;
  }
}
