.boardWriteForm {
  width: 100%;

  border-radius: 8px;
  display: flex;
  justify-content: center;
  textarea {
    width: 95%;
    height: 540px;
    background-color: #f5f2eb;
    padding-top: 10px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
  }
  textarea:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
