.boardOptionPreview {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}
.previewImage {
  width: 120px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.previewOption {
  display: flex;
  flex-direction: column;
  gap: 52px;
  h1 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 0.3em;
  }
}
