
.cardTop{
  display: flex;
  justify-content: space-between;

  .cardTopLeft{
    display:flex;
    gap: 4px;

    .freebadge{
      width: 66px;
      height: 20px;
      border-radius: 4px;
      background-color: rgba(166, 179, 125, 0.2);
      border:1px solid #a6b37d;
      text-align: center;
      font-weight: bold;
      color:#a6b37d;
      font-size: 12px;
      line-height: 15px;
    }

    
    .acceptbadge{
      width: 66px;
      height: 20px;
      border-radius: 4px;
      background-color: rgba(185, 148, 112, 0.2);
      border:1px solid #b99470;
      text-align: center;
      color:#b99470;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }

     .cardTopRight{
      display:flex;
      gap: 12px;

      button{
        background-color: transparent;
      }
    }
}

.titleBox{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  
  overflow: hidden;
  gap: 6px;

  h4{
    font-size: 24px;
    font-weight: 600;
    color:#222;
  }

  p{
    font-size: 16px;
    color:rgba(85, 85, 85, 0.7);
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
   
  }
}

.tagBox{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
    color:rgba(85, 85, 85, 0.7);
    
  span{
    display: inline-flex;
  }
}

.likeBtn{
  display: flex;
  align-content: center;
  gap: 8px;
  text-align: center;

  img{
    width: 20px;
    height: 18px;
  }
}

.scrapBtn{
  width: 15px;
  height: 18px;
}