.container{
  width: 13.75rem;
  background-color: #FFC0CB;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.08);
  min-height: 100vh;
  
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}


.loginBox{
  display:flex;
  margin-top: 28px;
  width: 220px;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  gap: 8px;
  position: relative;
  .profileImage{
    width: 44px;
    height: 44px;
    aspect-ratio: 1;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25) ;
  }
  .loginBoxGreeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    p{
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
    }
    h3{
      font-size: 12px;
      font-weight: 600;
    }
  }
  .loginLogout{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    text-align: center;
    cursor: pointer;
    gap:5px;
    font-size: 12px;
    /* padding-left: 30px; */
    > svg{
      transition:0.3s;
    }
   
   
    &:hover > svg{
      background-color: rgba(0, 0, 0, 0.1);
      padding: 3px;
      border-radius: 4px;
    }
    p{
      font-size: 12px;
      color: #AA8A90;
    }
    

    .linkButton,
    .logout{
      background-color: #A6B37D;
      opacity: 0.8;
      padding:10px 8px;
      border-radius: 21px;
      color:#FFFFFF;
      transition: background-color 0.3s;

      &:hover{
        background-color: rgba(137, 162, 55);
    }
    }
  }
}

.loginBox::after{
  content:"";
  position: absolute;
  bottom: -16px;
  height: 1px;
  width: 90%;
  transform: translateX(6px,-6px);
  background-color: #55555557
}
.navListWrap{
  margin-top: 32px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  padding: 4px;
  top: 100vh;
  gap: 16px;
  li{
    font-size: 12px;
    padding-left: 20px;
  }

  .navList{
    display: flex;
    transition:  0.5s;
    padding: 2px;
    position: relative;

    .navListText{
      cursor: pointer;
      display:flex;
       padding: 4px;
       padding-left: 12px;
      gap: 12px;
      align-items: center;

      .notifiIcon{
        width: 24px;
        height: 24px;
      }
    }

  h3{
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    }

.notifyPanel {
  padding: 40px 18px;
  position: fixed;
  top: 0;
  right: 0;
  width: 560px;
  height: 100vh;
  background: #fff;
  z-index: 3000;
  padding: 1.5rem;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;}

  &.navList:hover{
    background-color: #55555527;
      padding-bottom: 2px;
      border-radius: 4px;
       }
    }

    h4{
      font-size: 32px;
      font-weight: 600;
    }

    .notificationList{
      margin-top: 30px;
    }
  }
  .membershipBox{
    margin-top: 104px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
 
    padding: 10px;
    margin-left: 10px;
    border-radius: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    .membershipTextBox{
      padding: 0px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
   h4{
      font-size: 16px;
      font-weight: 600;
      color:#222;
    }
    p{
      font-size: 12px;
      color:#555555d2;
      font-weight: 500;
      text-align: center;
      line-height: 14px;
    }
    .membershipButton{
      width: 148px;
      height: 30px;
      border-radius: 8px;
      background-color:#A6B37D;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
      &:hover{
        background-color: #8B9669;
      }
    }
  }
}





@keyframes slideIn {
  from {
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    transform: translateX(-220px);
    opacity: 1;
  }
}