

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    bannerImage{
        position: relative;
        width:100%;
        max-width:600px;
        border:1px solid #222222;
    }

    img{
        width:100%;
        height:auto;
        display: block;
        border-radius: 74px;
    }

    input{
        position: relative;
        top:-60px;
        width:100%;
        max-width:780px;
        padding:30px 60px;
        font-size:24px;
        height:90px;
        border-radius: 21px;
        border: 5px solid 	rgba(166, 179, 125, 0.7);
        box-shadow: 8px 11px rgba(166, 179, 125, 0.25);

        &:focus{
            outline:none;
        }

        &::placeholder{
            opacity: 0.6;
        }
    }
}

