.list {
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
  margin: 60px 24px;
  max-width:1100px;
  
}

.nothingWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1200px; */
  height: 100%;
  grid-template-columns: none;
}


.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 0.7s ease-in-out;
  gap: 12px;
}

.nothing p {
  color: #A6B37D; 
  background-color: #F0F8E0; 
  border: 2px solid #A6B37D; 
  padding: 16px 24px;
  border-radius: 32px;
  font-weight: 600;
  line-height: 1.6;
  position: relative;
  box-shadow: 0 4px 12px rgba(166, 179, 125, 0.4); 
  max-width: 500px;
  text-align: center;
  font-size: 1.25rem;
}


.nothing img {
  width: 100px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
