


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  background-color: #F5F5F5;
  /* padding: 104px 232px; */
  border: 0.5px solid black;

  display: flex;
  flex-direction: column;
}


.peerReview{
  /* position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.channel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post{
  display: flex;
  align-items: center;
  justify-content: center;
}
