

.container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;

    position: relative;
}

.wrapper {
    width: 60%;
    height: 100vh;
    border: 0.5px solid rgb(248, 188, 188);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .mypage {
        font-size: 2rem;
        font-weight: 1000;
        margin-top: 8%;
        padding-left: 1rem;
    }
}
