

.container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;

    position: relative;
}

.wrapper {
    width: 60%;
    height: 100vh;
    border: 0.5px solid black;
    padding: 0 1%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .mypage {
        font-size: 2rem;
        font-weight: 1000;
        margin-top: 8%;
    }

    .mypageBg {
        width: 100%;
        height: 20%;
        background-color: #FFFFFF;
        border: 1px solid #D4D4D4;
        border-radius: 10px;
        margin-top: 1.4rem;
    }
}
