.swiper {
  width: 100%;
}

.swiper-slide.peerReview {
  position: relative;
  width: 173px !important;
  height: 170px !important;
  transition: 1s;
  gap:22px !important;
  user-select: none;
}

.swiper-slide-active.peerReview {
  width: 348px !important;
  height: 170px !important;
  transition: 1s ease-in-out;
}

.swiper-slide.channel {
  position: relative;
  width: 311px;
  height: 233px;
}