


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.peerReview{
  /* position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.channel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post{
  display: flex;
  align-items: center;
  justify-content: center;
}
