/* 해시태그 스타일링변경 */
/* 참고 링크 - https://github.com/yairEO/tagify?tab=readme-ov-file#events  */

.hashTag {
  border: none;
  margin: -5px;
  --tag-bg: #e2e8f0;
  --readonly-striped: 0;
  --tag--max-width: 300px;
  --tag-border-radius: 8px;
  span {
    min-width: 0px !important;
    font-size: 12px;
    color: #1e293b;
  }
}
@media screen and (max-width: 1024px) {
  .hashTag {
    border: none;
    margin: 0px;
    --tag-bg: #e2e8f0;
    --readonly-striped: 0;
    --tag--max-width: 300px;
    --tag-border-radius: 8px;
    span {
      font-size: 12px;
      color: #1e293b;
    }
  }
}
.hashTagInput {
  width: 90%;
  --tag-bg: #e2e8f0;
  --tag--max-width: 300px;
  span {
    font-size: 12px;
    color: #1e293b;
  }
}
