/* 해시태그 스타일링변경 */
/* 참고 링크 - https://github.com/yairEO/tagify?tab=readme-ov-file#events  */

.hashTag {
  border: none;
  --tag-bg: #a6b37d;
  --readonly-striped: 0;
  --tag--max-width: 300px;
  --tag-border-radius: 8px;
  span {
    font-size: 12px;
    color: #fff;
  }
}
.hashTagInput {
  width: 90%;
  --tag-bg: #a6b37d;
  --tag--max-width: 600px;
}
