



.popup {
    width: 9rem;
    background-color: white;
    font-family: 'pretendard variable';

    position: absolute;
    top: 1rem;
    left: 3rem;
    border-radius: 15px;
    padding: 1rem;
    z-index: 10;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            cursor: pointer;
            padding: 0.2rem 0.3rem;
            margin-top: 0.2rem;

            &:hover {
                background-color: #55555518;
                border-radius: 3px;
            }
        }
    }

}