@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "./style/sweetAlert.css";

:root {
  background-color: #f5f5f5;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  background-color: #f5f5f5;
  font-family: 'pretendard variable';
  container > * {
    min-width: 0;
    flex-shrink: 1;
  }
}
.leftcontainer {
  width: 13.75rem;
  flex-shrink: 0;
  z-index: 9;
  overflow-x: visible;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.rightcontainer {
  width: 220px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 220px;
  margin-right: 220px;
  width: calc(100% - 440px);
  background-color: #f5f5f5;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainWrapper.fullWidth {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  pointer-events: auto;
}

#leftSidebar {
  display: none;
  position: fixed;
  top: 1.2rem;
  left: 0.5rem;
  z-index: 150 !important;

  img{
    width: 28px;
    height: 28px;
  }
}

#rightSidebar {
  display: none;
  position: fixed;
  top: 1.2rem;
  right: 0.5rem;
  z-index: 250;
  
  img{
    width: 28px;
    height: 28px;
  }
}




@media screen and (max-width: 1024px) {
  .leftcontainer,
  .rightcontainer {
    width: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .overlay{
    display: none;
  }
  .leftcontainer {
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-150%);
    transition: transform 0.3s ease-in-out;
  }

  .rightcontainer{
    visibility: hidden;
    pointer-events: none;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
  }

  .container {
    justify-content: center;
  }
  .mainWrapper{
    margin: 0 auto;
    width: 100%;
  }
  
  .leftcontainer.active,
  .rightcontainer.active{
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
  
  #leftSidebar{
    display: block;
    transform: (0);
    transition: transform 0.3s ease-in-out;
  }

  #rightSidebar{
    display: block;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .leftcontainer.active {
    z-index: 100;
  }

  #leftSidebar.isOpen{
    transform: translateX(175px);
  }

  #rightSidebar.isOpen{
    transform: translateX(-175px);
  }
}

