@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "./style/sweetAlert.css";
.container{
  width: 100%;
  display: flex;
  height: auto;
  justify-content: space-between;
  background-color: #F5F5F5;
  container > *{
    min-width: 0;
    flex-shrink: 1;
  }
}
.leftcontainer{
  width: 13.75rem;
  flex-shrink: 0;
  z-index: 9;
}
.rightcontainer{
  position:relative;
  width: 13.75rem;
  flex-shrink: 0;
  z-index: 10000;
}
.mainWrapper{
  min-width: 0;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  position:relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  pointer-events: auto;
}
/* @media screen and (max-width: 1024px) {
  .leftcontainer,
  .rightcontainer {
    width: 160px;
  }
} */
@media screen and (max-width: 768px) {
  .leftcontainer,
  .rightcontainer {
    display: none; /* :흰색_확인_표시: 모바일에서는 숨김 */
  }
  .container {
    justify-content: center;
  }
}
