.container {
  margin: 44px 100px 0px;
  flex: 1;
}

.channelHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filterTab {
  display: flex;
  gap: 1.75rem;

  .filterBtn {
    width: 105px;
    height: 28px;
    background-color: rgba(185, 148, 112, 0.2);
    border: 1px solid #b99470;
    border-radius: 4px;
    font-weight: bold;
    color: #b99470;
    transition: 0.3s;
  }

  .filterBtn:hover {
    background-color: rgba(185, 148, 112, 0.4);
  }
}

.searchBox {
  height: 20px;
  width: 400px;
  display: flex;
  position: relative;

  .studySearch {
    border: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
    background-color: transparent;
    outline: none;
    width: 100%;

    transition: 0.3s;

    &:focus {
      border-bottom: 1px solid rgba(185, 148, 112, 0.7);
    }
  }

  .searchBtn {
    position: absolute;
    right: 0px;
    top: -4px;
    background-color: transparent;
  }
}

.postBtn {
  border-radius: 4px;
  background-color: #a6b37d;
  width: 105px;
  height: 28px;
  color: #fff;
  transition: 0.3s;

  &:hover {
    background-color: #8b9669;
  }
}

.cardGrid {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.pagenation {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 64px;

  .pagenationNumber {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
    background-color: transparent;
    border: 0.1px solid #2222226b;
    transition: 0.3s;

    &:hover {
      background-color: #c9cfb8;
    }
  }
  .active {
    background-color: #a6b37d;
    color: #fff;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    border: 0;
  }
}

@media screen and (max-width: 1400px) {
  .searchBox{
    width: 280px;
  }
}

@media screen and (max-width: 1340px) {
  /* 양옆 여백 줄이기 */
  .container {
    width: 100%;
    margin: 44px 100px 0px;
    padding: 0 60px;
    flex: 1;
  }
  
  .cardGrid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 1220px) {
  .filterTab{
    gap: 1rem;

    .filterBtn{
      width: 80px;
    }
  }

}

@media screen and (max-width: 1180px) {
  .filterTab{
    gap: 0.5rem;

    .filterBtn{
      width: 70px;
    }
  }

  .postBtn{
    width: 90px;
  }
}

@media screen and (max-width: 1100px) {
  .searchBox{
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
 .channelHeader{
  flex-direction: column;
  gap: 1rem;

  .filterTab{
    width: 100%;
    gap: 1.75rem;

    .filterBtn{
      width: 100%;
    }
  }

  a{
    width: 100%;
  }
  .postBtn{
    width: 100%;
  }

  .searchBox{
    width: 100%;
    height: 50px;
    button{
      top: 12px;
    }
  }

 }


}

@media screen and (max-width: 970px) {

  .cardGrid {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 768px) {
 .channelHeader{
  flex-direction: row;

  .searchBox{
    width: 400px;
    height: 20px;
    button{
      top: -4px;
    }
  }

  .filterTab{
    gap: 1.75rem;

    .filterBtn{
      width: 105px;
    }
  }

  a{
    width: fit-content;
  }
  .postBtn{
    width: 105px;
  }

 }
  .cardGrid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

